{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Diagnostic Test Questionnaire</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static "module/css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="{% static "module/css/animate.min.css" %}">
	<link rel="stylesheet" href="{% static "module/css/fontawesome-all.css" %}">
	<link rel="stylesheet" href="{% static "module/css/style.css" %}">

	<link rel="stylesheet" type="text/css" href="{% static "module/css/colors/switch.css" %}">
	<!-- Color Alternatives -->
	<link href="{% static "module/css/colors/color-2.css" %}" rel="alternate stylesheet" type="text/css" title="color-2">
	<link href="{% static "module/css/colors/color-3.css" %}" rel="alternate stylesheet" type="text/css" title="color-3">
	<link href="{% static "module/css/colors/color-4.css" %}" rel="alternate stylesheet" type="text/css" title="color-4">
	<link href="{% static "module/css/colors/color-5.css" %}" rel="alternate stylesheet" type="text/css" title="color-5">
</head>

<body>

	<!-- This code is use for color chooser, you can delete -->

	<div class="clearfix"></div>


	<div class="wrapper">
		<div class="steps-area steps-area-fixed">
			<div class="image-holder">
				<img src="{% static "module/img/side-img.jpg" %}" alt="">
			</div>
		</div>
		<form class="multisteps-form__form" action="/module/displaydiagnostictests" id="wizard" method="POST">
			{% csrf_token %}
			<div class="form-area position-relative">
				<!-- div 1 -->
				<div class="multisteps-form__panel js-active" data-animation="slideHorz">
					<div class="wizard-forms">
						<div class="inner pb-100 clearfix">
							<div class="form-content pera-content">
								<div class="step-inner-content">
									{% if existingpatient == "yes" %}
										<h2>Welcome Back {{fullname}}</h2>
										<p>We have prefilled the below form based on your previous response from last time. Please verify and modify if needed and click on Submit.</p>
									{% else %}
										<h2>Welcome {{fullname}} </h2>
										<p>We would like to get some information about your habits, previous infections etc.. Plese fill out the form and click on Submit.</p>
									{%  endif %}
									<hr>
									<div class="questionnaire_item">
										<div class="qi_left">
												<img src="{% static "module/img/smoking.png" %}" alt="testimage">
										</div>
										<div class="qi_right">
											<h4>SMOKING</h4>
											<p>Please check the box that best describes your smoking habit.</p>
										</div>
									</div>

									<br>
									<div class="budget-area">
										<select name="smokingstatus">
											<option{% if smokingstatus == configvalues.nonsmokervalue %} selected="selected" {% else %}  {%  endif %}>\{{configvalues.nonsmokervalue}}</option>
											<option{% if smokingstatus == configvalues.heavysmokervalue%} selected="selected" {% else %}  {%  endif %}>{{configvalues.heavysmokervalue}}</option>
											<option{% if smokingstatus == configvalues.lightsmokervalue%} selected="selected" {% else %}  {%  endif %}>{{configvalues.lightsmokervalue}}</option>
										</select>
									</div>
									<hr>
									<div class="questionnaire_item">
										<div class="qi_left">
												<img src="{% static "module/img/alcoholconsumption.png" %}" alt="testimage">
										</div>
										<div class="qi_right">
											<h4>ALCOHOL CONSUMPTION</h4>
											<p>Please check the box that best describes your alcholol consumption.</p>
										</div>
									</div>
									<br>
									<div class="budget-area">
										<select name="drinkingstatus">
											<option{% if drinkingstatus == configvalues.nondrinkervalue%} selected="selected" {% else %}  {%  endif %}>{{configvalues.nondrinkervalue}}</option>
											<option{% if drinkingstatus == configvalues.regulardrinkervalue%} selected="selected" {% else %}  {%  endif %}>{{configvalues.regulardrinkervalue}}</option>
											<option{% if drinkingstatus == configvalues.occasionaldrinkervalue%} selected="selected" {% else %}  {%  endif %}>{{configvalues.occasionaldrinkervalue}}</option>
										</select>
									</div>
									<!--
									<div class="step-box">
										<div class="row">
											<div class="col-md-4">
												<label class="step-box-content bg-white text-center relative-position {% if drinkingstatus == "nondrinker"%} active {% else %} inactive {%  endif %}">
													<span class="step-box-icon">
														<img src="{% static "module/img/nondrinker.png" %}" alt="">
													</span>
													<span class="step-box-text">
														Non Drinker
													</span>
													<span class="service-check-option">
														<span><input type="radio" name="drinkingstatus" value="nondrinker" ></span>
													</span>
												</label>
											</div>
											<div class="col-md-4">
												<label class="step-box-content bg-white text-center relative-position {% if drinkingstatus == "regulardrinker"%} active {% else %} inactive {%  endif %}">
													<span class="step-box-icon">
														<img src="{% static "module/img/regulardrinker.png" %}" alt="">
													</span>
													<span class="step-box-text">
														Regular Drinker
													</span>
													<span class="service-check-option">
														<span><input id="condition1" type="radio" name="drinkingstatus" value="regulardrinker"></span>
													</span>
												</label>
											</div>
											<div class="col-md-4">
												<label class="step-box-content bg-white text-center relative-position {% if drinkingstatus == "lightdrinker"%} active {% else %} inactive {%  endif %}">
													<span class="step-box-icon">
														<img src="{% static "module/img/lightdrinker.png" %}" alt="">
													</span>
													<span class="step-box-text">
														Occasional Drinker
													</span>
													<span class="service-check-option">
														<span><input type="radio" name="drinkingstatus" value="lightdrinker"></span>
													</span>
												</label>
											</div>
										</div>
									</div>
									-->
									<hr>
									<div class="questionnaire_item">
										<div class="qi_left">
												<img src="{% static "module/img/previnfection.png" %}" alt="testimage">
										</div>
										<div class="qi_right">
											<h4>PREVIOUS INFECTIONS</h4>
											<p>Have you tested positive for any of the following infections : HIV, HBV, HCV</p>
										</div>
									</div>

									<br>
									<div class="budget-area">
										<select name="previnfection">
											<option{% if previnfection == configvalues.previnfection_no%} selected="selected" {% else %}  {%  endif %}>{{configvalues.previnfection_no}}</option>
											<option{% if previnfection == configvalues.previnfection_yes%} selected="selected" {% else %}  {%  endif %}>{{configvalues.previnfection_yes}}</option>
										</select>
									</div>
									<!--
									<div class="budget-area">
										<p></p>
										<div class="opti-list">
											<ul class="d-flex">
												<li class="bg-white {% if previnfection_hiv == "hiv"%} active {% else %} inactive {%  endif %}"><input type="checkbox" name="previnfection_hiv" value="hiv" >HIV</li>
												<li class="bg-white {% if previnfection_hbv == "hbv"%} active {% else %} inactive {%  endif %}"><input type="checkbox" name="previnfection_hbv" value="hbv">HBV</li>
												<li class="bg-white {% if previnfection_hcv == "hcv"%} active {% else %} inactive {%  endif %}"><input type="checkbox" name="previnfection_hcv" value="hcv">HCV</li>
											</ul>
										</div>
									</div>
									-->
									<hr>
									<div class="questionnaire_item">
										<div class="qi_left">
												<img src="{% static "module/img/bloodexposure.png" %}" alt="testimage">
										</div>
										<div class="qi_right">
											<h4>BLOOD EXPOSURE</h4>
											<p>Have you had a needle prick injury or exposure to blood or blood products in the last 3 months </p>
										</div>
									</div>

									<div class="budget-area">
										<select name="bloodexposure">
											<option{% if bloodexposure == configvalues.bloodexposure_no%} selected="selected" {% else %}  {%  endif %}>{{configvalues.bloodexposure_no}}</option>
											<option{% if bloodexposure == configvalues.bloodexposure_yes%} selected="selected" {% else %}  {%  endif %}>{{configvalues.bloodexposure_yes}}</option>
										</select>
									</div>

									{% if gender == configvalues.gender_female %}
										<hr>
										<br>
										<div class="questionnaire_item">
											<div class="qi_left">
													<img src="{% static "module/img/menstrualhistory.png" %}" alt="testimage">
											</div>
											<div class="qi_right">
												<h4>MENSTRUAL HISTORY</h4>
												<p>Please check the box that best describes your mentrual history</p>
											</div>
										</div>

										<div class="budget-area">
											<select name="menstrualhistory">
												<option{% if menstrualhistory == configvalues.menstrualhistory_allgood%} selected="selected" {% else %}  {%  endif %}>{{configvalues.menstrualhistory_allgood}}</option>
												<option{% if menstrualhistory == configvalues.menstrualhistory_excessivebleeding%} selected="selected" {% else %}  {%  endif %}>{{configvalues.menstrualhistory_excessivebleeding}}</option>
												<option{% if menstrualhistory == configvalues.menstrualhistory_ireregularperiods%} selected="selected" {% else %}  {%  endif %}>{{configvalues.menstrualhistory_ireregularperiods}}</option>
											</select>
										</div>
										{% else %}
											<hr>
											<br>
										{%  endif %}
									<div class="step-content-area">
										<hr>
										<div class="questionnaire_item">
											<div class="qi_left">
													<img src="{% static "module/img/comments.png" %}" alt="testimage">
											</div>
											<div class="qi_right">
												<h4>COMMENTS</h4>
											</div>
										</div>
										<div class="comment-box">
											<p><i class="fas fa-comments"></i> Do you want to tell us anything else?</p>
											<textarea name="comments" >{% if comments is not None %} {{comments}} {% else %} "Your Content Here" {%  endif %}</textarea>
									</div>
									</div>


								</div>
							</div>
						</div>
						<!-- /.inner -->
						<div class="actions">
							<ul>
								<li><button type="submit" title="SUBMIT">SUBMIT <i class="fa fa-arrow-right"></i></button></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<script src="{% static "module/js/jquery-3.3.1.min.js" %}"></script>
	<script src="{% static "module/js/jquery.validate.min.js" %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
	<script src="{% static "module/js/bootstrap.min.js" %}"></script>
	<script src="{% static "module/js/conditionize.flexible.jquery.min.js" %}"></script>
	<script src="{% static "module/js/main.js" %}"></script>
	<script src="{% static "module/js/switch.js" %}"></script>
	<script>
		$("#files").change(function() {
			filename = this.files[0].name
			// console.log(filename);
		});

		function UploadFile() {
			var reader = new FileReader();
			var file = document.getElementById('attach').files[0];
			reader.onload = function() {
				document.getElementById('fileContent').value = reader.result;
				document.getElementById('filename').value = file.name;
				document.getElementById('wizard').submit();
			}
			reader.readAsDataURL(file);
		}

		$(document).ready(function() {
			$('.conditional').conditionize();
		});
	</script>
</body>

</html>