
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Recommended Diagnostic Tests </title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static "module/css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="{% static "module/css/animate.min.css" %}">
	<link rel="stylesheet" href="{% static "module/css/fontawesome-all.css" %}">
	<link rel="stylesheet" href="{% static "module/css/testdisplaystyles.css" %}">
	<link rel="stylesheet" href="{% static "module/css/style.css" %}">

	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>



</head>

<body>
	<div class="steps-area steps-area-fixed">
		<div class="image-holder">
			<img src="{% static "module/img/hero.png" %}" alt="">
		</div>
	</div>

<div class="wrapper">
	<div class="links">
		<ul>
			<li data-view="list-view" class="li-list active">
			<i class="fas fa-th-list"></i>
			General Health Checkup Tests</li>
		</ul>
	</div>
	<div class="view_main">
		<div class="view_wrap list-view" style="display: block;">
			{% for key, values in diagnostictests.items %}
				<div class="view_item">
					<div class="vi_left">
						<img src="{% static "module/img/test.png" %}" alt="tomato">
					</div>
					<div class="vi_right">
						<p class="title">{{key}}</p>
						<p class="content">{{values}}</p>

					</div>
				</div>
            {% endfor %}

		</div>

	</div>
</div>

<div class="wrapper">
	<div class="links">
		<ul>
			<li data-view="list-view" class="li-list active">
			<i class="fas fa-th-list"></i>
			Tests Recommended for You</li>
		</ul>
	</div>
	<div class="view_main">
		<div class="view_wrap list-view" style="display: block;">
			{% for key, values in diagnostictests.items %}
				<div class="view_item">
					<div class="vi_left">
						<img src="{% static "module/img/test.png" %}" alt="tomato">
					</div>
					<div class="vi_right">
						<p class="title">{{key}}</p>
						<p class="content">{{values}}</p>

					</div>
				</div>
            {% endfor %}

		</div>

	</div>
</div>

<!--
<script src="{% static "module/js/testdisplayscripts.js" %}"></script>
-->

</body>
</html>