<!--

	This page inherits from the base.html page.
	What happens here is that it takes the content of the base.html file and then replaces the placeholders with the content from here.
	So for example the page_title in the base.html is replaced by the value between the block page_title and endblock in this file.
	SImilarly for page_content
-->
{% extends "base.html" %}
<!--The load static needs to be included in every file that loads static files.-->
{% load static %}
		<!-- This replaces the placeholder for page_title in the base.html file-->
		{% block page_title%}Diagnostic Test Recommender-Gather Basic Information {% endblock %}
		<!-- This replaces the placeholder for page_content in the base.html file-->
		{% block page_content%}
						<div class="diagnostictestrecommender_form_content">
							<h2>Personalised Diagnostic Test Recommender</h2>
							<p>Welcome to the Diagnostic Test Recommender page customised for you. We will be asking you some basic information followed by
								information regarding your habits and family history. Based on this information we will recommend what tests you need to keep
								track of your health.</p>
							<br>
							<br>
							<!--The below is the html code for each of the items in the queestionnaire-->
							<div class="patientinformation_form_content">
								<div class="patientinformation_inputfields">
									<div class="patientinformation_item">
										<div class="patientinformation_item_left">
												<img src="{% static "module/img/name.png" %}" alt="testimage">
										</div>
										<div class="patientinformation_item_right">
											<input type="text" name="fullname" class="form-control " minlength="2" placeholder="First and last name *" required>
										</div>
									</div>

									<div class="patientinformation_item">
										<div class="patientinformation_item_left">
												<img src="{% static "module/img/phonenumber.png" %}" alt="testimage">
										</div>
										<div class="patientinformation_item_right">
											<input type="text" name="phonenumber" class="form-control " placeholder="Phone Number *" required>
										</div>
									</div>

									<div class="patientinformation_item">
										<div class="patientinformation_item_left">
												<img src="{% static "module/img/email.png" %}" alt="testimage">
										</div>
										<div class="patientinformation_item_right">
											<input type="email" name="email" class="form-control " placeholder="Email Address ">
										</div>
									</div>

									<div class="patientinformation_item">
										<div class="patientinformation_item_left">
												<img src="{% static "module/img/dateofbirth.png" %}" alt="testimage">
										</div>
										<div class="patientinformation_item_right">
											<input type="date" name="dateofbirth" class="form-control " placeholder="Date of Birth " required>
										</div>
									</div>

								</div>
								<div class="gender-selection">
									<div class="patientinformation_item">
										<div class="patientinformation_item_left">
												<img src="{% static "module/img/gender.png" %}" alt="testimage">
										</div>
										<div class="patientinformation_item_right">
											<h3>Gender:</h3>
											<label>
												<input type="radio" name="gender" value="Male" required>
												<span class="checkmark"></span>{{configvalues.gender_male}}
											</label>
											<label>
												<input type="radio" name="gender" value="Female" required>
												<span class="checkmark"></span>{{configvalues.gender_female}}
											</label>
										</div>
									</div>

								</div>
							</div>
						</div>
						<!--Html for the next button. When the button is clicked, it navigates to the page mentioned below with a POST request.-->
						<div class="actions">
							<ul>
								<li><button type="submit" title="SUBMIT" formaction="/module/diagnostictestquestionaire">NEXT  <i class="fa"></i></button></li>
							</ul>
						</div>
        {% endblock %}