{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Diagnostic Test Questionnaire</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static "module/css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="{% static "module/css/animate.min.css" %}">
	<link rel="stylesheet" href="{% static "module/css/fontawesome-all.css" %}">
	<link rel="stylesheet" href="{% static "module/css/style.css" %}">

</head>

<body>



	<div class="wrapper">
		<div class="steps-area steps-area-fixed">
			<div class="image-holder">
				<img src="{% static "module/img/side-img.jpg" %}" alt="">
			</div>
		</div>
		<form class="multisteps-form__form" action="/module/diagnostictestquestionaire" id="wizard" method="POST">
			{% csrf_token %}
			<div class="form-area position-relative">
				<div class="multisteps-form__panel js-active" data-animation="slideHorz">
					<div class="wizard-forms">
						<div class="inner pb-100 clearfix">
							<div class="form-content pera-content">
								<div class="step-inner-content">
									<h2>Basic Information</h2>
									<div class="form-inner-area">
										<input type="text" name="fullname" class="form-control " minlength="2" placeholder="First and last name *" required>
										<input type="text" name="phonenumber" class="form-control " placeholder="Phone Number *" required>
										<input type="email" name="email" class="form-control " placeholder="Email Address ">
										<input type="date" name="dateofbirth" class="form-control " placeholder="Date of Birth " required>

									</div>
									<div class="gender-selection">
										<h3>Gender:</h3>
										<label>
											<input type="radio" name="gender" value="Male" required>
											<span class="checkmark"></span>Male
										</label>
										<label>
											<input type="radio" name="gender" value="Female" required>
											<span class="checkmark"></span>Female
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="actions">
							<ul>
								<li><button type="submit" title="SUBMIT">NEXT <i class="fa"></i></button></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<script src="{% static "module/js/jquery-3.3.1.min.js" %}"></script>
	<script src="{% static "module/js/jquery.validate.min.js" %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
	<script src="{% static "module/js/bootstrap.min.js" %}"></script>
	<script src="{% static "module/js/conditionize.flexible.jquery.min.js" %}"></script>
	<script src="{% static "module/js/main.js" %}"></script>
	<script src="{% static "module/js/switch.js" %}"></script>
</body>

</html>