<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title> Module Views </title>
    </head>
    <body>
        <h1> Lists the views of the Module app  </h1>
        <h2> This html was rendered from a html tenplate</h2>
        <!-- The brackets acts as a placeholder and tells Django that this needs to be replaced with the variables passed in when rendering the page.
        We can also apply filters after a | . here the title means it will convert the text to titlecase.
        -->
        <h3>Simplehtmlresponse</h3>
    </body>
</html>